**/.git
**/__pycache__
**/.vscode
**/.idea
**/*.pyc
**/*.pyo
**/*.pyd
**/node_modules
**/dist
**/uploads
**/cache
**/logs
**/.env
**/.DS_Store
**/venv
**/.venv
**/env
**/.coverage
**/.pytest_cache
**/htmlcov

